.button{
    display: inline-block;
    padding: 0px 30px;
    font-size: 70px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3178d6;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
}
.button2{
    display: inline-block;
    padding: 0px 30px;
    font-size: 70px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #1fc91f;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
}